:root {
  --background-main-color: #ffffff;
  --background-head-color: #2f303a;
  --bacground-clip-color: #e5e5e5;
  --background-text-color: #f5f4fa;
  --button-color: #2196f3;
  --button-portfolio-color: #f5f4fa;

  --text-accent-color: #2196f3;
  --text-footer-color: #ffffff, 60 %;
  --text-main-color: #212121;
  --text-contrast-color: #ffffff;
  --text-secondary-color: #757575;
}
a {
  text-decoration: none;
  text-transform: none;
  font-style: normal;
}
ul {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: px;
}

.list,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--text-main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

body {
  font-family: Roboto;
  color: var(--text-main-color);
}
/*HEADER*/
.logo {
  color: var(--text-main-color);
  font-family: Raleway;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--text-accent-color);
}

.site-nav a {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .selected {
  color: var(--text-accent-color);
}

.adress {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.adress li:hover,
.adress li:focus {
  color: var(--text-accent-color);
}

/*Herou*/
.herou {
  background-color: var(--background-head-color);
  color: var(--background-text-color);
  text-align: center;
}
.herou .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.herou button {
  background-color: var(--button-color);
  color: var(--text-contrast-color);
  font: weight 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/*Feature*/
.feature .title {
  color: transparent;
}
.feature .item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature .text {
  color: var(--text-secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Team*/
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-position {
  color: var(--text-secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
