:root {
  --background-main-color: #ffffff;
  --background-head-color: #2f303a;
  --bacground-clip-color: #e5e5e5;
  --background-text-color: #f5f4fa;
  --button-color: #2196f3;
  --button-portfolio-color: #f5f4fa;

  --text-accent-color: #2196f3;
  --text-footer-color: #ffffff, 60 %;
  --text-main-color: #212121;
  --text-contrast-color: #ffffff;
  --text-secondary-color: #757575;
}
a {
  text-decoration: none;
  text-transform: none;
  font-style: normal;
}
ul {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: px;
}

.list,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
/*HEADER*/
header {
  background-color: var(--background-main-color);
}
.content {
  display: flex;
  align-items: center;
  width: 1240px;

  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 215px;
  margin-right: 215px;
}
header .logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  margin-right: 90px;
}
.logo-header {
  color: #2196f3;
}
.list {
  display: flex;
  margin-right: 331px;
  margin-left: 0;
}
.list li + li {
  margin-left: 50px;
}

.site-nav a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}
.site-nav a:focus,
.site-nav a:active,
.site-nav a:hover {
  color: var(--text-accent-color);
}
.site-nav .selected {
  color: var(--text-accent-color);
}
.ad {
  display: flex;
}
.ad li + li {
  margin-left: 50px;
}
.header .adress {
  display: flex;
  margin-left: auto;
}
header .adress a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  font-style: normal;
}
header .adress a:focus,
header .adress a:active,
header .adress a:hover {
  color: var(--text-accent-color);
}
/*.mailto::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  outline: 1px solid red;
  background-image: url(../images/envelope.svg)
  background-size: contain;
}*/

/*HERO*/
.hero {
  font-family: Roboto;
  letter-spacing: 0.06em;
  background-color: var(--background-head-color);
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  /* background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4); */

  background-image: url(../images/hero-min.jpg);
  background-size: cover;
  background-position: center;
}
h1 {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--text-contrast-color);
}
.hero button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--text-contrast-color);
  background-color: var(--text-accent-color);
}

/*НАШИ ПРЕИМУЩЕСТВА*/
.feature {
  font-family: Roboto;
  background-color: var(--background-main-color);
  margin-top: 94px;
}
.details {
  display: flex;
  padding: 0;
  list-style: none;
}
.theme {
  width: 270px;
  margin: 10px;
  padding: 10px;
}

.theme + .theme {
  margin-left: 30px;
}

.icon {
  width: 40px;
  height: 40px;
}
.theme::before {
  content: "";
  display: block;
  height: 120px;
  background-image: url(../images/icons/clock.svg);
  background-repeat: no-repeat;
}

.feature h2 {
  display: none;
}

.feature h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-main-color);
}
.feature p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}
/*Наши работы*/
.ourwork {
  margin-top: 94px;
  margin-bottom: 94px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  background-color: var(--background-main-color);
}
.ourwork .section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}
.work {
  display: flex;
}
.work .point {
  width: 370px;
  height: 294px;
}
.work .point + .point {
  margin-left: 30px;
}

/*Наша команда*/
.container.team {
  background-color: var(--bacground-clip-color);
}
.team {
  font-family: Roboto;
  background-color: var(--background-text-color);
  padding-bottom: 94px;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-cards {
  display: flex;
}
.member {
  background-color: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-foto {
  width: 270px;
  height: 260p;
}
.member {
  margin-left: 30px;
}
.member:last-child {
  margin-right: 0px;
}
.member-text {
  width: 270px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.member-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}
.team p {
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

/*Постоянные клиенты*/
/*.clients {
  font-family: Roboto;
  background-color: var(--background-main-color);
}
.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.clients-cards {
  display: inline-flex;
  padding-bottom: 94px;
}
.clients-cards .clients-link {
  display: block;
  width: 170px;
  height: 90px;
  border-radius: 1px solid #afb1b8;
  margin-left: 30px;
}
.clients-cards .clients-link:nth-last-child {
  margin-left: 0;
}
.clients-link {
  outline: 1px solid red;
}
*/
.clients {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 94px;
}

.clients-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icons-primary-color);
  border-radius: 4px;
}

.clients-item {
  margin-right: 30px;
  fill: var(--icons-primary-color);
}

.clients-item:last-child {
  margin-right: 0;
}
/*Footer*/
footer {
  background-color: var(--background-head-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer ul {
  margin: 0px;
  padding: 0px;
}
.footer-content {
  display: block;
}
footer .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-contrast-color);
}
.logo-footer {
  color: #2196f3;
}

footer address a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  font-style: normal;
}
footer address p {
  color: var(--text-contrast-color);
  margin-top: 20px;
  margin-bottom: 9px;
}
.site-menu {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.site-menu h2 {
  color: transparent;
}
.button-menu {
  display: flex;
  justify-content: center;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  background-color: var(--background-main-color);
}
.site-menu button .site-menu button:focus,
.site-menu button:active,
.site-menu button:hover {
  color: var(--text-contrast-color);
  background-color: var(--button-color);
}
.button-menu .bt + .bt {
  margin-left: 8px;
}
.bt-name {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border-radius: 4px;
  border: var(--background-text-color);
}
.projects {
  width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;

  font-family: Roboto;
  background-color: var(--background-main-color);
}

.projects-title {
  color: transparent;
}
.projects-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  font-style: normal;
}
.projects-foto {
  width: 370px;
  height: 294px;
  padding-bottom: 20px;
}
.projects-point {
  width: 370px;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
  box-sizing: border-box;
  font-style: normal;
}
.projects-point:nth-child(3n) {
  margin-right: 0;
}
.projects-point:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-main-color);
  font-style: normal;
  margin-bottom: 4px;
  margin-left: 24px;
}
.projects-tekst {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-secondary-color);
  margin-left: 24px;
  margin-bottom: 20px;
}
